In [1]:
def load_dates(path):
    dates_D = {}
    with open(path, 'r', newline='\n') as f:
        for line in f:
            reddit_id, field = line.strip().split('\t', maxsplit=1)
            dates_D[reddit_id] = field
    return dates_D

In [2]:
import numpy as np
import pandas as pd

In [42]:
df = pd.read_csv('../data/worldnews_2016-11_2017-10_submissiondates.txt', header=None, index_col=0, sep='\t', names=['reddit_id', 'Date'])

In [43]:
f = lambda x: pd.Series([int(i) for i in x.split('-')])
rev = df['Date'].apply(f)
rev.rename(columns={0:'Year',1:'Month',2:'Day'},inplace=True)

In [44]:
df = df.join(rev)

In [46]:
groups = df.groupby(by=['Year', 'Month'])

In [50]:
for name, group in groups:
    file_name = 'worldnews_%i_%i-%i_%i_submissiondates.txt'%(*name, *name)
    group.to_csv(file_name, sep='\t')

In [45]:
df.tail()

                 Date  Year  Month  Day
reddit_id
73fs0k     2017-09-30  2017      9   30
73gdu5     2017-09-30  2017      9   30
73gmoy     2017-09-30  2017      9   30
73hi53     2017-09-30  2017      9   30
73ifv4     2017-09-30  2017      9   30